{% include "base.html" %}
<a href="{% url 'index' %}">Home</a>
<Br/>
Motorbike Available Slots: <span id='motor-available'></span>
<Br/>
Car Available Slots: <span id='car-available'></span>
<Hr/>
<table id='entries_list'>
</table>

<script type='text/javascript'>

function get_available_entries(){
    $.getJSON({
        type: "GET",
        url: "{% url 'get_parking_entries' garage_id=garage.id %}",
        format: "json"
    }).done(function(data){
        localStorage['parkingInfo'] = data;
        $('#motor-available').html(data.motor_available_slot);
        $('#car-available').html(data.car_available_slot);
        var html_str = '<tr><th>Level</th><th>Type</th><th>License Plate</th><th></th></tr>';
        for (let entry of data.entries_list) {
            console.log(entry);
            html_str += '<tr>';
            html_str += '   <td>' + entry.level + '</td>';
            html_str += '   <td>' + entry.vehicle_type + '</td>';
            html_str += '   <td>' + entry.license_plate + '</td>';
            html_str += '   <td><button class="exit_btn" entry_id="' + entry.id + '">Exit</button></td>';
            html_str += '</tr>';
        }
        $('#entries_list').html(html_str);
    });
}

function exit_parking(entry_id){
    $.getJSON({
        type: "POST",
        url: "../../entry/"+entry_id+"/exit",
        format: "json"
    }).done(function(data) {
        console.log(data);
        get_available_entries();
    });
}

$(document).ready(function() {
    get_available_entries();
    var interval = setInterval(get_available_entries, 5000);
    $("#entries_list").on("click", ".exit_btn", function(){
        clearInterval(interval);
        let entry_id = $(this).attr( "entry_id" );
        exit_parking(entry_id);
        interval = setInterval(get_available_entries, 5000);
    });
})
</script>