{% include "base.html" %}

Garage:
<select name="garages" id="garages">
{% for garage in garage_lst %}
    <option value="{{garage.id}}">{{garage.name}}</option>
{% endfor %}
</select>
<hr/>

<button id="view-all-entries">Parking Entries</button>
<button id="add-new-entry">New Parking Entry</button>

<script type='text/javascript'>
$(document).ready(function() {
    $("#view-all-entries").click(function(){
        var garage_id = $("#garages").find(":selected").val();
        var view_entryies_url = "/parking/garage/" + garage_id + "/entries";
        document.location.href = view_entryies_url;
    });
    $("#add-new-entry").click(function(){
        var garage_id = $("#garages").find(":selected").val();
        var add_entry_url = "/parking/garage/" + garage_id + "/add-new-entry";
        document.location.href = add_entry_url;
    });
})
</script>