{% include "base.html" %}
<a href="{% url 'index' %}">Home</a>
<Br/>
Motorbike Available Slots: {{motor_available_slots}}
<Br/>
Car Available Slots: {{car_available_slots}}
<Hr/>
<p style="color:red">{{ error }}</p>
<form action="/parking/garage/{{garage.id}}/add-new-entry" method="post">
    {% csrf_token %}
    <label for="license_plate">License Plate: </label>
    <input id="license_plate" type="text" name="license_plate">
    <label for="vehicle_type">Vehicle Type: </label>
    <select name="vehicle_type" id="vehicle_type">
        <option value="M">Motorbike</option>
        <option value="C">Car</option>
    </select>
    <input type="submit" value="OK">
</form>